In [0]:
sfOptions = {
  "sfURL": "kcsvubi-lc68850.snowflakecomputing.com",
  "sfDatabase": "COMPANY_DB",
  "sfSchema": "ANALYTICS",
  "sfWarehouse": "COMPUTE_WH",
  "sfRole": "ACCOUNTADMIN",
  "sfUser": "laks13",
  "sfPassword": "Lakshan,098!!!"
}

In [0]:
df = (spark.read
      .format("snowflake")
      .options(**sfOptions)
      .option("dbtable", "EMPLOYEES")
      .load())

display(df)

EMP_ID,FIRST_NAME,LAST_NAME,DEPARTMENT,SALARY
1,Alice,Johnson,HR,60000.0
2,Bob,Smith,IT,80000.0
3,Charlie,Brown,Finance,75000.0

In [0]:
from pyspark.sql.functions import col, when

df_transformed = df.withColumn(
    "updated_salary",
    when(col("DEPARTMENT") == "IT", col("SALARY") * 1.10)
    .otherwise(col("SALARY"))
)

display(df_transformed)

EMP_ID,FIRST_NAME,LAST_NAME,DEPARTMENT,SALARY,updated_salary
1,Alice,Johnson,HR,60000.0,60000.0
2,Bob,Smith,IT,80000.0,88000.0
3,Charlie,Brown,Finance,75000.0,75000.0

In [0]:
test_df = (spark.read
           .format("snowflake")
           .options(
               sfURL="kcsvubi-lc68850.snowflakecomputing.com",
               sfDatabase="COMPANY_DB",
               sfSchema="ANALYTICS",
               sfWarehouse="COMPUTE_WH",
               sfRole="ACCOUNTADMIN",
               sfUser="LAKS13",
               sfPassword="Lakshan,098!!!"
           )
           .option("query", "SELECT 1 AS test")
           .load())

test_df.show()

+----+
|TEST|
+----+
|   1|
+----+

In [0]:
(df_transformed.write
 .format("snowflake")
 .options(**sfOptions)
 .option("dbtable", "EMPLOYEES_TRANSFORMED")  # this will create the table
 .mode("overwrite")                            # overwrite if exists
 .save())